version: '3.4'

services:  
  polly:
    build:
      context: ./clients/polly
    container_name: polly
    depends_on:
      - server
  
  resilience4j:
    build:
      context: ./clients/resilience4j
    container_name: resilience4j
    depends_on:
      - server

  scheduler:
    build: 
      context: ./scheduler
    container_name: scheduler
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./samples/config-all-delay.json:/opt/app/conf/conf.json
      - ./results:/opt/app/resilience-tests
    environment:
      - DISK_PATH=/opt/app/resilience-tests
      - CONFIG_FILE=/opt/app/conf/conf.json
      - ENVOY_FAULT_INJECTION_PATH=/opt/app/fault-injection
      - DOCKER_HOST=/var/run/docker.sock
      - TIME_ZONE=America/Sao_Paulo
    depends_on:
      - resilience4j
      - polly
      - server

  server:
    build:
      context: server
    container_name: server
    ports:
      - 9901:9901
      - 9211:9211
    volumes:
      - ./server/envoy.yaml:/etc/envoy/envoy.yaml
      - ./server/supervisord.conf:/etc/supervisor/conf.d/default.conf
      - ./runtime:/srv/runtime
      - ./server/fault-injection:/opt/app/fault-injection
